In [1]:
import pandas as pd

In [3]:
raw_usedcars=pd.read_csv('/content/train.csv')

In [4]:
raw_usedcars

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [5]:
raw_usedcars.describe()

        Unnamed: 0         Year  Kilometers_Driven        Seats        Price
count  5847.000000  5847.000000       5.847000e+03  5809.000000  5847.000000
mean   3013.181461  2013.448435       5.841013e+04     5.286452     9.653742
std    1736.398890     3.194949       9.237971e+04     0.806668    11.275966
min       1.000000  1998.000000       1.710000e+02     2.000000     0.440000
25%    1509.500000  2012.000000       3.346750e+04     5.000000     3.550000
50%    3015.000000  2014.000000       5.257600e+04     5.000000     5.750000
75%    4517.500000  2016.000000       7.249050e+04     5.000000    10.250000
max    6018.000000  2019.000000       6.500000e+06    10.000000   160.000000

In [6]:
raw_usedcars.isna()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,False,False,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5843,False,False,False,False,False,False,False,False,False,False,False,False,True,False
5844,False,False,False,False,False,False,False,False,False,False,False,False,True,False
5845,False,False,False,False,False,False,False,False,False,False,False,False,True,False
5846,False,False,False,False,False,False,False,False,False,False,False,False,True,False

In [7]:
clean_usedcars=raw_usedcars.dropna(inplace=False)

In [8]:
clean_usedcars

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00
18,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,Petrol,Manual,First,17.57 kmpl,1193 CC,88.7 bhp,5.0,7.77 Lakh,4.00
5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,Petrol,Manual,First,16.09 kmpl,1598 CC,103.5 bhp,5.0,11.91 Lakh,3.25
5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,Diesel,Manual,First,24.3 kmpl,1248 CC,88.5 bhp,5.0,9.93 Lakh,7.43
5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,Petrol,Manual,First,18.5 kmpl,1198 CC,86.8 bhp,5.0,6.63 Lakh,3.20
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75

In [30]:
clean_usedcars.to_csv('/content/clean_data/clean_usedcars.csv')

In [31]:
print('work is done')

work is done

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [33]:
cars_data=pd.read_csv('/content/clean_data/clean_usedcars.csv')

In [34]:
cars_data

,Unnamed: 0.1,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
1,5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
2,8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
3,13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00
4,18,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,Petrol,Manual,First,17.57 kmpl,1193 CC,88.7 bhp,5.0,7.77 Lakh,4.00
810,5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,Petrol,Manual,First,16.09 kmpl,1598 CC,103.5 bhp,5.0,11.91 Lakh,3.25
811,5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,Diesel,Manual,First,24.3 kmpl,1248 CC,88.5 bhp,5.0,9.93 Lakh,7.43
812,5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,Petrol,Manual,First,18.5 kmpl,1198 CC,86.8 bhp,5.0,6.63 Lakh,3.20
813,5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75

In [35]:
# a)  Look for the missing values in all the columns and either impute them (replace with mean,
#median, or mode) or drop them. Justify your action for this task. (5 points)

In [36]:
cars_data

,Unnamed: 0.1,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
1,5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
2,8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
3,13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00
4,18,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,Petrol,Manual,First,17.57 kmpl,1193 CC,88.7 bhp,5.0,7.77 Lakh,4.00
810,5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,Petrol,Manual,First,16.09 kmpl,1598 CC,103.5 bhp,5.0,11.91 Lakh,3.25
811,5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,Diesel,Manual,First,24.3 kmpl,1248 CC,88.5 bhp,5.0,9.93 Lakh,7.43
812,5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,Petrol,Manual,First,18.5 kmpl,1198 CC,86.8 bhp,5.0,6.63 Lakh,3.20
813,5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75

In [37]:
# Justification:- Depending on the type of missing data and the analysis's context, removing missing values from a dataset may be a workable solution. The consequences of data loss and the possible influence on the analysis must be taken into account
#when deciding whether to remove missing values.

In [38]:
#b) Remove the units from some of the attributes and only keep the numerical values (for
#example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from
#“New_price”). (5 points)

In [39]:
cars_data_copy = cars_data.copy()
cars_data_copy['Mileage'] = cars_data_copy['Mileage'].astype(str).str.replace('kmpl', '').str.replace('km/kg', '').astype(float)
cars_data_copy['Engine'] = cars_data_copy['Engine'].astype(str).str.replace('CC', '').astype(float)
cars_data_copy['Power'] = cars_data_copy['Power'].astype(str).str.replace('bhp', '').astype(float)
cars_data_copy['New_Price'] = cars_data_copy['New_Price'].astype(str).str.replace('Lakh', '')
cars_data_copy['New_Price'] = cars_data_copy['New_Price'].str.replace('Cr', '').apply(lambda x: float(x) * 100 if 'Cr' in x else float(x))

In [40]:
cars_data_copy

,Unnamed: 0.1,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,8.61,4.50
1,5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36,2755.0,171.50,8.0,21.00,17.50
2,8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56,1462.0,103.25,5.0,10.65,9.95
3,13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.50,2477.0,175.56,7.0,32.01,15.00
4,18,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69,1995.0,190.00,5.0,47.87,18.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,Petrol,Manual,First,17.57,1193.0,88.70,5.0,7.77,4.00
810,5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,Petrol,Manual,First,16.09,1598.0,103.50,5.0,11.91,3.25
811,5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,Diesel,Manual,First,24.30,1248.0,88.50,5.0,9.93,7.43
812,5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,Petrol,Manual,First,18.50,1198.0,86.80,5.0,6.63,3.20
813,5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.40,1248.0,74.00,5.0,7.88,4.75

####c)Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded value. (5 points)

In [26]:
cars_data = pd.get_dummies(cars_data, columns=['Fuel_Type', 'Transmission'], drop_first=True)

In [27]:
cars_data

,Unnamed: 0.1,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Petrol,Transmission_Manual
0,1,2,Honda Jazz V,Chennai,2011,46000,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,1,1
1,5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50,0,0
2,8,10,Maruti Ciaz Zeta,Kochi,2018,25692,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95,1,1
3,13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00,0,1
4,18,20,BMW 3 Series 320d,Kochi,2014,32982,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,First,17.57 kmpl,1193 CC,88.7 bhp,5.0,7.77 Lakh,4.00,1,1
810,5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,First,16.09 kmpl,1598 CC,103.5 bhp,5.0,11.91 Lakh,3.25,1,1
811,5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,First,24.3 kmpl,1248 CC,88.5 bhp,5.0,9.93 Lakh,7.43,0,1
812,5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,First,18.5 kmpl,1198 CC,86.8 bhp,5.0,6.63 Lakh,3.20,1,1
813,5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75,0,1

####d) Create one more feature and add this column to the dataset (you can use mutate function in
R for this). For example, you can calculate the current age of the car by subtracting “Year” value
from the current year.

In [29]:
current_year = datetime.now().year
cars_data['Current_age'] = current_year - cars_data['Year'] # Subtracting the 'Year' from the current year
cars_data

,Unnamed: 0.1,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Petrol,Transmission_Manual,Current_age
0,1,2,Honda Jazz V,Chennai,2011,46000,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,1,1,12
1,5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50,0,0,7
2,8,10,Maruti Ciaz Zeta,Kochi,2018,25692,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95,1,1,5
3,13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00,0,1,9
4,18,20,BMW 3 Series 320d,Kochi,2014,32982,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55,0,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,First,17.57 kmpl,1193 CC,88.7 bhp,5.0,7.77 Lakh,4.00,1,1,7
810,5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,First,16.09 kmpl,1598 CC,103.5 bhp,5.0,11.91 Lakh,3.25,1,1,12
811,5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,First,24.3 kmpl,1248 CC,88.5 bhp,5.0,9.93 Lakh,7.43,0,1,7
812,5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,First,18.5 kmpl,1198 CC,86.8 bhp,5.0,6.63 Lakh,3.20,1,1,10
813,5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75,0,1,9